@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(172, 172, 172, 0.521);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(172, 172, 172, 0.521);
  border-radius: 20px;
  background: #ffc0ff;
  padding: 0.8rem 1rem;
  color: #424242;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.total {
width: 70px;
background-color: #209cff;
height: 40px;
padding: 0.5rem 1rem;
vertical-align: middle;
justify-content: space-between;
display: flex;
text-align: center;
border-radius: 20px;
position: relative;
left: -200px;
top: -58px;
    
}
.hold {
border: 5px solid rgb(255, 0, 0)(255, 238, 0);
}
.hide {
display: none;
}
.hovered {
border-top: 14px solid black;

}
